<div class="auth-wrapper">
    <div class="container-fluid">
        <div class="ct_admin_logo ct-auth-logo">
            <img src="img/logo.svg" alt="" />
        </div>
        <!-- Login Section -->
        <div class="ct-login-wrapper">
            <div class="ct-login-card">
                <div class="text-center mb-4">
                    <div class="ct-title ct_fs_30 ct_fw_600 mb-2">Forgot Password </div>
                    <div class="ct-subtitle ct_dark_grey_text">
                        Don’t worry it happens, please enter the email associated with your account.
                    </div>
                </div>
                <form [formGroup]="Form">
                    <div class="mb-3">
                        <label class="form-label small">Email</label>
                        <input type="email" class="form-control ct_input" placeholder="Enter your email"
                            formControlName="email" />
                        <div *ngIf="Form.controls['email'].invalid && Form.controls['email'].touched" class="err_msg">
                            <div *ngIf="Form.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                                Email is required.
                            </div>
                            <div *ngIf="Form.controls['email'].errors?.['email'] && !Form.controls['email'].errors?.['required']"
                                class="ct_fs_14 mt-1">
                                Invalid email format.</div>
                        </div>
                    </div>
                    <a type="submit" class="ct_black_btn w-100" (click)="onSubmit()">
                        Get Link
                    </a>
                    <p class="ct_fs_14 ct_fw_600 mt-3 text-center">Already Know Your Password? <a routerLink="/"
                            class="ct_blue_text">Sign In</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay" *ngIf="loading">
      <div class="loader">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
      </div>
</div>