<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap ct_mb_35">
            <h4 class="ct_text_black ct_fs_24 ct_fw_600 mb-0">
                <a routerLink="/home/asset-purchase" class="ct_text_black">
                    <i class="fa-solid fa-arrow-left me-2"></i>
                </a>
                Asset Details
            </h4>
        </div>
        <!-- Identity Verification -->
        <div class="ct-card ct_mb_35">
            <div class="d-flex justify-content-between flex-wrap gap-4">
                <div>
                    <h6 class="ct_fs_22 ct_fw_600 mb-1">Desktop PC (SN-LN-X1-9912)</h6>
                    <p class="ct_fs_14 mb-3 ct_dark_grey_text">
                        Dell OptiPlex 7080
                    </p>
                    <div class="d-flex gap-4 flex-wrap">
                        <div>
                            <p class="mb-0 ct_fs_14 ct_dark_grey_text">Quantity</p>
                            <p class="mb-0 ct_fw_500">50</p>
                        </div>
                        <div class="border-right"></div>
                        <div>
                            <p class="mb-0 ct_fs_14 ct_dark_grey_text">Cost per Unit</p>
                            <p class="mb-0 ct_fw_500">₹400</p>
                        </div>
                        <div class="border-right"></div>
                        <div>
                            <p class="mb-0 ct_fs_14 ct_dark_grey_text">Total Cost</p>
                            <p class="mb-0 ct_fw_500">₹7,20,000</p>
                        </div>
                    </div>
                </div>
                <div class="text-sm-end d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <p class="mb-0">Date of Purchase</p>
                        <p class="mb-0 ct_dark_grey_text">12 Aug 2026</p>
                    </div>
                    <div class="ct_blue_text ct_fs_14 ct_fw_600">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_52_1711)">
                                <path
                                    d="M7.00001 0C7.12579 0 7.25157 0.0273438 7.36642 0.0792969L12.5152 2.26406C13.1168 2.51836 13.5652 3.11172 13.5625 3.82812C13.5488 6.54063 12.4332 11.5035 7.72189 13.7594C7.26525 13.9781 6.73478 13.9781 6.27814 13.7594C1.56681 11.5035 0.451184 6.54063 0.437512 3.82812C0.434778 3.11172 0.883216 2.51836 1.48478 2.26406L6.63634 0.0792969C6.74845 0.0273438 6.87423 0 7.00001 0ZM7.00001 1.82656V12.1625C10.7734 10.3359 11.7879 6.2918 11.8125 3.86641L7.00001 1.82656Z"
                                    fill="#2563EB" />
                            </g>
                            <defs>
                                <clipPath id="clip0_52_1711">
                                    <path d="M0 0H14V14H0V0Z" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span>Under Warranty</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-card ct_mb_35">
            <div class="row gy-4">
                <div class="col-md-12">
                    <div class="d-flex align-items-center gap-3 justify-content-between">
                        <p class="ct_dark_grey_text mb-0 ct_fw_600">Vendor Name</p>
                        <h6 class="ct_fw_600 mb-0">Dell India</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- Configuration -->
        <h6 class="ct_fs_18 ct_fw_600 mb-3">Configuration</h6>
        <div class="ct-card ct_mb_35">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">CPU</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">Intel Core i5</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">RAM</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">16 GB</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Storage</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">256 GB SSD</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">OS</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">Windows 11 Pro</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Display</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">24” Full HD</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Warranty Details -->
        <div class="mb-3 d-flex align-items-center gap-3 justify-content-between">
            <h6 class="ct_fs_18 ct_fw_600 mb-0">Warranty Details</h6>
            <p class="mb-0 ct_accepted_badge ct_fw_600">Active</p>
        </div>
        <div class="ct-card ct_mb_35">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Warranty Start Date</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">12 Aug 2026</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Warranty End Date</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">12 Aug 2028</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>