<header class="ct_header">
  <div class="ct_logo">
    <a routerLink="/">
      <img src="img/logo-n.png" alt="">
    </a>
  </div>
  <nav>
    <div class="ct_close_menu">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/service">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="ct_menu_bar">
    <i class="fa-solid fa-bars"></i>
  </div>
</header>
