<div class="ct_inner_header_bg mt-4 ct_px_30">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text">Clients</h4>
        <div>
            <a routerLink="/home/add-client" class="ct_black_btn d-flex align-items-center gap-2 mt-md-0 mt-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                        stroke="white" stroke-width="1.05" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Add Client
            </a>
        </div>
    </div>
</div>
<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_wrapper_white_box">
                    <div class="d-md-flex justify-content-between align-items-center ct_flex_col_767 gap-5">
                        <!-- Search -->
                        <div class="search-box w-100 mb-2">
                            <div class="input-group position-relative">
                                <input type="text" class="form-control ct_input ps-5" placeholder="Search..."
                                    [(ngModel)]="search" (input)="onSearchChange()" />
                                <i class="fas fa-search ct_show_search"></i>
                            </div>
                        </div>
                        <!-- Filters -->
                        <div class="d-flex align-items-center gap-2 filter-box w-100 mb-2">
                            <select class="form-select ct_input" [(ngModel)]="kycStatus" (change)="onStatusChange()">
                                <!-- <option disabled selected>KYC Status</option> -->
                                <option value="" disabled>KYC Status</option>
                                <option value="">All</option>
                                <option value="approved">Approved</option>
                                <option value="pending">Pending</option>
                                <option value="rejected">Rejected</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <input type="date" class="form-control ct_input pe-5" (change)="onDateChange($event)" />
                        </div>
                    </div>
                    <div class="table-responsive mt-4 ct_custom_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Client ID</th>
                                    <th>Client Name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>KYC Status</th>
                                    <th>Systems</th>
                                    <th>Payment Status</th>
                                    <th>Joining Date</th>
                                    <!-- <th>Block</th> -->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dashboardData; let i = index">
                                    <td>{{ (page - 1) * limit + i + 1 }}</td>
                                    <td>{{ item.u_unique_id }}</td>
                                    <td>
                                        <span>
                                            {{ item.full_name }}
                                            <i *ngIf="item.is_document_completed == 'No'"
                                                class="fa-solid fa-triangle-exclamation ct_yellow ms-1"
                                                title="Document pending" style="cursor: pointer;"></i>
                                        </span>
                                    </td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.show_password || '-' }}</td>
                                    <td>
                                        <span *ngIf="item.kyc_status === 'approved'"
                                            class="ct_accepted_badge">Approved</span>
                                        <span *ngIf="item.kyc_status === 'pending'"
                                            class="ct_pending_badge">Pending</span>
                                        <span *ngIf="item.kyc_status === 'rejected'"
                                            class="ct_rejected_badge">Rejected</span>
                                    </td>
                                    <td>{{ item.device_count }}</td>
                                    <td>{{'-'}}</td>
                                    <td>{{ item.created_at | date: 'dd MMM yyyy' }}</td>
                                    <!-- <td>
                                        <div class="form-check form-switch ct_custom_switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                id="flexSwitchCheckChecked" [checked]="item.is_disabled === 1"
                                                (change)="onToggleUser(item)" data-bs-toggle="modal"
                                                data-bs-target="#blockAssignDeviceModal" />
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <a [routerLink]="['/home/view-client']" [queryParams]="{clientId: item.id}">
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                            <a [routerLink]="['/home/add-client']" [queryParams]="{clientId: item.id}">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="dashboardData?.length == 0" class="text-center">
                            <p class="ct_fs_15 mt-5">No client found</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 gap-2">
                        <button class="btn btn-sm btn-secondary" [disabled]="page == 1" (click)="changePage(page - 1)">
                            Prev
                        </button>
                        {{pagination?.page}}
                        <button class="btn btn-sm btn-secondary"
                            [disabled]="page >= pagination?.total / pagination?.limit" (click)="changePage(page + 1)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- vlock Assign Modal -->
<div class="modal fade ct_delete_employee_modal" id="blockAssignDeviceModal" tabindex="-1" #blockModal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header px-0 border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Body -->
            <div class="modal-body p-0">
                <h5 class="modal-title ct_fs_18 ct_blue_text ct_fw_600 mb-2">{{ modalTitle }}</h5>
                <p class="ct_dark_grey_text">
                    {{ modalMessage }}
                </p>
                <div class="d-flex justify-content-end gap-4 my-4">
                    <button #closeModalBlock type="button" data-bs-dismiss="modal"
                        class="ct_dark_grey_text btn-transparent">Cancel</button>
                    <button (click)="confirmToggle()" type="submit"
                        class="ct_blue_text ct_fw_600 btn-transparent">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="loader-overlay" *ngIf="loading">
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>