<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap ct_mb-35">

            <h4 class="ct_text_black ct_fs_24 ct_fw_600 mb-0">
                <a (click)="backClicked()" class="ct_text_black">
                    <i class="fa-solid fa-arrow-left me-2"></i>
                </a>
                System Details ({{deviceData?.system_uid}})
            </h4>

            @if(deviceData?.approval_status !== 'pending'){
            <button type="button" class="ct_black_btn px-4" (click)="exportDeviceCsv()" [disabled]="!deviceData">
                Export CSV
            </button>
            }

            <!-- accept reject btn -->
            @if(userRole !== 'sub_admin'){
            @if(deviceData?.approval_status == 'pending'){
            <div class="d-flex gap-4 flex-wrap">
                <div>
                    <a class="reject_btn" data-bs-toggle="modal" data-bs-target="#rejectDevicesModal"><i
                            class="fa-solid fa-xmark me-2"></i>Reject</a>
                </div>
                <div>
                    <a class="accept_btn" data-bs-toggle="modal" data-bs-target="#approveDevicesModal"><i
                            class="fa-solid fa-check me-2"></i>Approve</a>
                </div>
            </div>
            }
            }

        </div>
        <!-- Identity Verification -->
        <div class="ct-card ct_mb-35">
            <div class="d-flex justify-content-between flex-wrap gap-4">
                <div>
                    <!-- <h6 class="ct_fs_22 ct_fw_600 mb-1">System Name: {{deviceData?.device_name}}</h6> -->
                    <p class="ct_fs_14 mb-2 ct_dark_grey_text">System Name: {{deviceData?.device_name}}</p>
                    <p class="ct_fs_14 mb-3 ct_dark_grey_text">
                        System ID: {{deviceData?.system_uid}}
                    </p>
                    <div class="d-flex gap-4 flex-wrap">
                        <div>
                            <p class="mb-0 ct_fs_14 ct_dark_grey_text">Client Name</p>
                            <p class="mb-0 ct_fw_500">{{deviceData?.client_name}}</p>
                        </div>
                        <div class="border-right"></div>
                        <div>
                            <p class="mb-0 ct_fs_14 ct_dark_grey_text">Client ID</p>
                            <p class="mb-0 ct_fw_500">{{deviceData?.client_unique_id}}</p>
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <!-- <div class="mb-3">
                        @if(deviceData?.status == 'active'){
                        <span class="ct_accepted_badge">Active</span>
                        }
                    </div> -->
                    <div class="mb-3">
                        @if(deviceData?.approval_status == 'approved'){
                        <span class="ct_accepted_badge">Approved</span>
                        }
                        <!-- @if(deviceData?.approval_status == 'pending'){
                        <span class="ct_pending_badge">Pending</span>
                        } -->
                        @if(deviceData?.approval_status == 'rejected'){
                        <span class="ct_reject_badge">Rejected</span>
                        }
                    </div>
                    <p class="mb-3 ct_fs_14">
                        Installation Employee: {{deviceData?.employee_name || 'N/A'}}
                    </p>
                    <p>
                        Created On: {{ deviceData?.created_at ? (deviceData.created_at | date:'dd MMM yyyy, hh:mm a') : 'N/A' }}
                    </p>
                    <div class="ct_blue_text ct_fs_14 ct_fw_600">
                        @if(deviceData?.is_warranty_active == '1'){
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_52_1711)">
                                <path d="M7.00001 0C7.12579 0 7.25157 0.0273438 7.36642 0.0792969L12.5152 2.26406C13.1168 2.51836 
                                    13.5652 3.11172 13.5625 3.82812C13.5488 6.54063 12.4332 11.5035 7.72189 13.7594C7.26525 
                                    13.9781 6.73478 13.9781 6.27814 13.7594C1.56681 11.5035 0.451184 6.54063 0.437512 3.82812C0.434778 
                                    3.11172 0.883216 2.51836 1.48478 2.26406L6.63634 0.0792969C6.74845 0.0273438 6.87423 0 7.00001 0ZM7.00001 
                                    1.82656V12.1625C10.7734 10.3359 11.7879 6.2918 11.8125 3.86641L7.00001 1.82656Z"
                                    fill="#2563EB" />
                            </g>
                            <defs>
                                <clipPath id="clip0_52_1711">
                                    <path d="M0 0H14V14H0V0Z" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span *ngIf="deviceData?.is_warranty_active === 1">
                            Under Warranty
                        </span>
                        <!-- <span *ngIf="deviceData?.is_warranty_active === 0">
                            Warranty Expired
                        </span> -->
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-card ct_mb-35">
            <div class="d-flex justify-content-between flex-wrap gap-4">
                <div>
                    <h6 class="ct_fs_18 ct_fw_600 mb-0 ct_dark_grey_text">
                        Processor
                    </h6>
                </div>
                <div>
                    <p class="ct_fw_600 mb-0"> {{ parsedDevice?.processor || 'N/A' }}</p>
                </div>
            </div>
        </div>
        <!-- ram & storage -->
        <h6 class="ct_fs_18 ct_fw_600 mb-3">RAM & Storage</h6>
        <div class="ct-card ct_mb-35">
            <div class="row gy-4">
                <div class="col-12" *ngIf="(parsedDevice?.ram_modules?.length || 0) > 1">
                    <h6 class="ct_fs_16 ct_fw_600 mb-2">RAM Modules</h6>
                </div>

                <ng-container *ngIf="(parsedDevice?.ram_modules?.length || 0) > 0; else singleRamBlock">
                    <div class="col-md-6" *ngFor="let ramItem of parsedDevice?.ram_modules; let i = index">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">RAM {{ i + 1 }}</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">
                                    {{ ramItem?.total_gb ? ramItem?.total_gb + ' GB' : 'N/A' }}
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngFor="let ramItem of parsedDevice?.ram_modules; let i = index">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">RAM {{ i + 1 }} Serial No</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">{{ ramItem?.serial_no || 'N/A' }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngFor="let ramItem of parsedDevice?.ram_modules; let i = index">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">RAM {{ i + 1 }} Brand</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">{{ ramItem?.brand || 'N/A' }}</h6>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #singleRamBlock>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">RAM</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">
                                    {{ parsedDevice?.ram?.total_gb || 'N/A' }} GB
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">RAM Serial No</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">
                                    {{ parsedDevice?.ram?.serial_no || 'N/A' }}
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">RAM Brand</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">{{ parsedDevice?.ram?.brand || 'N/A' }}</h6>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">SSD:</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">
                                {{ parsedDevice?.rom?.ssd_gb || 'N/A' }} GB
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">SSD Serial No</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ parsedDevice?.rom?.ssd_serial_no || 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">HDD</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">
                                {{ parsedDevice?.rom?.hdd_gb ? parsedDevice?.rom?.hdd_gb + ' GB' : 'N/A' }}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">SSD Brand</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ parsedDevice?.rom?.ssd_brand || 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Motherboard & MAC -->
        <h6 class="ct_fs_18 ct_fw_600 mb-3">Motherboard & MAC</h6>
        <div class="ct-card ct_mb-35">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Motherboard</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">
                                {{ parsedDevice?.motherboard?.brand || 'N/A' }}
                                {{ parsedDevice?.motherboard?.model || '' }}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">MAC Address:</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">
                                {{ parsedDevice?.mac || 'N/A' }}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Serial No</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{parsedDevice?.motherboard?.serial_number || 'N/A'}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="ct_fs_18 ct_fw_600 mb-3">CPU Details</h6>
        <div class="ct-card ct_mb-35">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Processor</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ parsedDevice?.processor || 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Cores</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ parsedDevice?.cpu_cores || 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Threads</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ parsedDevice?.cpu_threads || 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Speed</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">
                                {{ parsedDevice?.cpu_speed ? (parsedDevice.cpu_speed + ' GHz') : 'N/A' }}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  monitor Details -->
        @if(parsedDevice.device_type == 'Desktop'){
        <h6 class="ct_fs_18 ct_fw_600 mb-3">Monitor Details</h6>
        <div class="ct-card ct_mb-35">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Monitor Brand</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600"> {{ parsedDevice?.monitor.brand }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Monitor Size</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ parsedDevice?.monitor.size || 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }

        <!--  Warranty Details -->
        <h6 class="ct_fs_18 ct_fw_600 mb-3">Warranty Details</h6>
        <div class="ct-card ct_mb-35">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Warranty Start Date</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600"> {{ deviceData?.warranty_start_date ? (deviceData?.warranty_start_date
                                | date:'dd MMM yyyy') : 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Warranty End Date</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ deviceData?.warranty_end_date ? (deviceData?.warranty_end_date |
                                date:'dd MMM yyyy') : 'N/A' }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <button type="button" class="ct_black_btn px-4" (click)="showOtherDetails = !showOtherDetails">
                {{ showOtherDetails ? 'Hide Other Details' : 'Show Other Details' }}
            </button>
        </div>

        <ng-container *ngIf="showOtherDetails">
            <h6 class="ct_fs_18 ct_fw_600 mb-3">System Fields</h6>
            <div class="ct-card ct_mb-35">
                <div class="row gy-4">
                    <div class="col-md-6" *ngFor="let item of deviceData | keyvalue">
                        <div class="row" *ngIf="shouldShowSystemField(item.key) && hasValue(item.value)">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">{{ formatDisplayKey(item.key) }}</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">{{ item.value }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h6 class="ct_fs_18 ct_fw_600 mb-3">Meta</h6>
            <div class="ct-card ct_mb-35">
                <div class="row gy-4">
                    <div class="col-md-6" *ngFor="let item of (deviceData?.meta || {}) | keyvalue">
                        <div class="row" *ngIf="hasValue(item.value)">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">{{ formatDisplayKey(item.key) }}</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">{{ item.value }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h6 class="ct_fs_18 ct_fw_600 mb-3">Inventory Components</h6>
            <div class="ct-card ct_mb-35" *ngFor="let item of deviceData?.inventory; let i = index">
                <div class="d-flex justify-content-between flex-wrap gap-2 mb-3">
                    <h6 class="ct_fw_600 mb-0">{{ item?.type ? formatDisplayKey(item.type) : ('Component ' + (i + 1)) }}
                    </h6>
                    <p class="mb-0 ct_dark_grey_text">{{ formatDisplayKey('asset_id') }}: {{ item?.asset_id ?? 'N/A' }}
                    </p>
                </div>
                <div class="row gy-4">
                    <div class="col-md-6" *ngFor="let detail of (item?.details || {}) | keyvalue">
                        <div class="row" *ngIf="shouldShowDetailField(detail.key) && hasValue(detail.value)">
                            <div class="col-sm-6">
                                <p class="ct_dark_grey_text mb-0">{{ formatDisplayKey(detail.key) }}</p>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="ct_fw_600">{{ detail.value }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- Assign Device Modal -->
<div class="modal fade ct_delete_employee_modal" id="rejectDevicesModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-0 border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0">
                <h5 class="modal-title ct_fs_18 ct_blue_text ct_fw_600 mb-2">Reject System</h5>
                <p class="ct_dark_grey_text">
                    Are you sure you want to reject this system?
                </p>
                <div class="d-flex justify-content-end gap-4 my-4">
                    <button #closeModalAssign1 type="button" data-bs-dismiss="modal"
                        class="ct_dark_grey_text btn-transparent">Cancel</button>
                    <button (click)="reject()" type="button" class="ct_blue_text ct_fw_600 btn-transparent">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Assign Device Modal -->
<div class="modal fade ct_delete_employee_modal" id="approveDevicesModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-0 border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0">
                <h5 class="modal-title ct_fs_18 ct_blue_text ct_fw_600 mb-2">Approve System</h5>
                <p class="ct_dark_grey_text">
                    Are you sure you want to approve this system?
                </p>
                <div class="d-flex justify-content-end gap-4 my-4">
                    <button #closeModalAssign2 type="button" data-bs-dismiss="modal"
                        class="ct_dark_grey_text btn-transparent">Cancel</button>
                    <button (click)="approve()" type="button"
                        class="ct_blue_text ct_fw_600 btn-transparent">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay" *ngIf="loading">
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>