<div class="ct_inner_header_bg mt-4 ct_px_30">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text">
                Service Request
            </h4>
        </div>
    </div>
</div>
<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_wrapper_white_box">
                    <div class="d-flex justify-content-between align-items-center ct_flex_col_575 gap-3 mb-4">
                        <!-- Search -->
                        <div class="search-box w-100 ">
                            <div class="input-group position-relative">
                                <input type="text" class="form-control ct_input ps-5"
                                    placeholder="Search by ID, Name or others..." [(ngModel)]="searchText"
                                    (input)="getAllRequests()" />

                                <i class="fas fa-search ct_show_search"></i>
                            </div>
                        </div>
                        <!-- Filters -->
                        <div class="d-flex align-items-center gap-2 filter-box">
                            <div class="d-flex align-items-center gap-2 filter-box w-100 mb-2">
                                <select class="form-select ct_input" [(ngModel)]="status" (change)="onStatusChange()">
                                    <option selected disabled>Status</option>
                                    <option value="">All</option>
                                    <option value="0">Open</option>
                                    <option value="1">Assigned</option>
                                    <option value="3">Under Service</option>
                                    <option value="4">Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-4 ct_custom_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Client ID</th>
                                    <th>Client Name</th>
                                    <th>System ID</th>
                                    <th>Issue Type</th>
                                    <th>Status</th>
                                    <th>Assigned To</th>
                                    <th>Created On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of requestsList; let i = index">
                                    <td>{{ (page - 1) * limit + i + 1 }}</td>
                                    <td>{{item.client_unique_id}}</td>
                                    <td>{{item.client_name}}</td>
                                    <td>{{item.system_uid}}</td>
                                    <td>{{item.request_title}}</td>
                                    <td class="">
                                        @if(item.status == '0'){
                                        <span class="ct_blue_text"> Open</span>
                                        }
                                        @if(item.status == '1'){
                                        <span class="ct_pending_badge"> Assigned </span>
                                        }
                                        @if(item.status == '3'){
                                        <span class="ct_pending_badge"> Under Service </span>
                                        }
                                        @if(item.status == '4'){
                                        <span class="ct_accepted_badge">Completed </span>
                                        }
                                    </td>
                                    <td class="">{{item.employee_name || '--'}}</td>
                                    <td>{{item.created_at | date:'dd MMM yyyy'}}</td>
                                    <td>
                                        @if(item.status == '0'){
                                        <a (click)="getRequestDetail(item)" data-bs-toggle="modal"
                                            data-bs-target="#assignOpenModal">
                                            <img src="img/action-user-icon.png" class="ct_width_18" />
                                        </a>
                                        <!-- <a (click)="getRequestDetail(item)" data-bs-toggle="modal"
                                            data-bs-target="#assignCompModal" class="ct_lh_0"><i
                                                class="fa-regular fa-eye"></i></a> -->
                                        } @else {
                                        <a (click)="getRequestDetail(item)" data-bs-toggle="modal"
                                            data-bs-target="#assignCompModal" class="ct_lh_0"><i
                                                class="fa-regular fa-eye"></i></a>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="requestsList?.length == 0" class="text-center">
                        <p class="ct_fs_15 mt-5">No request found</p>
                    </div>
                    <div class="d-flex justify-content-end mt-3 gap-2">
                        <button class="btn btn-sm btn-secondary" [disabled]="page == 1" (click)="changePage(page - 1)">
                            Prev
                        </button>
                        {{pagination?.page}}
                        <button class="btn btn-sm btn-secondary"
                            [disabled]="page >= pagination?.total / pagination?.limit" (click)="changePage(page + 1)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Action Open Popup -->
<div class="modal fade ct-assign-modal" id="assignOpenModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 800px;">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header border-0">
                <h5 class="ct-title ct_fs_22 mb-0 ct_fw_600 ct_blue_text d-flex align-items-center gap-2">
                    <i class="fa-regular fa-clock"></i>
                    Assign Service Request
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closeAssignModal></button>
            </div>
            <div class="modal-body">
                <!-- Info Row -->
                <div class="ct-info-box mb-4">
                    <div class="ct_grid_col_4">
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">System ID:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                {{singleRequest?.system_uid}}
                            </div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Brand/Model:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                {{singleRequest?.system_model}}
                            </div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Client Name:</div>
                            <div class="ct-value ct_dark_grey_text">{{singleRequest?.client_name}}</div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Issue Type:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                {{singleRequest?.request_title}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <h6 class="ct_fs_18 ct_fw_600 mb-2">Description</h6>
                <div class="ct-description mb-4 ct_fs_13">
                    {{singleRequest?.request_description}}
                </div>
                <h6 class="ct_fs_16 ct_fw_400 mb-2">Assign To</h6>
                <div class="search-box w-100">
                    <div class="input-group position-relative">
                        <!-- <input type="text" class="form-control ct_input ps-5"
                            placeholder="Search by ID, Name or others..." /> -->
                        <select class="form-select" [(ngModel)]="employeeId" required
                            (change)="onClientChange($any($event.target).value)">
                            <option [ngValue]="null" selected disabled>Select Employee</option>
                            <option *ngFor="let client of employeeList" [value]="client.id">
                                {{ client.full_name }}
                            </option>
                        </select>
                        <!-- <div class="ct_fs_12 text-danger mt-1" *ngIf="showAssignErrors && !employeeId">
                            Please select employee.
                        </div> -->
                    </div>
                </div>
                <div class="my-3">
                    <label class="form-label">Service Date</label>
                    <input type="date" class="form-control ct_input" placeholder="27/04/2026" [(ngModel)]="assignedDate"
                        [min]="minServiceDate" required />
                    <!-- <div class="ct_fs_12 text-danger mt-1" *ngIf="showAssignErrors && !assignedDate">
                        Please select service date.
                    </div> -->
                </div>
                <div class="form-check my-4">
                    <input class="form-check-input" type="checkbox" id="urgentCheckAssign" [(ngModel)]="isUrgent" />
                    <label class="form-check-label ct_fw_500" for="urgentCheckAssign">
                        Mark this request as Urgent.
                    </label>
                </div>
                <div class="d-flex gap-3">
                    <button class="ct_black_btn px-4" (click)="assignServiceRequest()">
                        Assign Service
                    </button>
                    <button class="ct_bule_transparent_btn px-4" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Action Complete Popup -->
<div class="modal fade ct-assign-modal" id="assignCompModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 800px;">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header border-0">
                @if(singleRequest?.status == '4'){
                <h5 class="ct-title ct_fs_22 ct_fw_600 ct_green_text d-flex align-items-center gap-2">
                    <i class="fa-regular fa-circle-check"></i>
                    Completed Service Request
                </h5>
                }
                @if(singleRequest?.status == '1'){
                <h5 class="ct-title ct_fs_22 ct_fw_600 ct_orange_text d-flex align-items-center gap-2">
                    <i class="fa-regular fa-circle-check"></i>
                    Service Request Assigned
                </h5>
                }
                @if(singleRequest?.status == '3'){
                <h5 class="ct-title ct_fs_22 ct_fw_600 ct_orange_text d-flex align-items-center gap-2">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Service Request Under Service
                </h5>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- Info Row -->
                <div class="ct-info-box mb-4">
                    <div class="ct_grid_col_4">
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">System ID:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                {{singleRequest?.system_uid}}
                            </div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Brand/Model:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                {{singleRequest?.system_model}}
                            </div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Client Name:</div>
                            <div class="ct-value ct_dark_grey_text">{{singleRequest?.client_name}}</div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Issue Type:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                {{singleRequest?.request_title}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <h6 class="ct_fs_18 ct_fw_600 mb-2">Description</h6>
                <div class="ct-description mb-4 ct_fs_13">
                    {{singleRequest?.request_description}}
                </div>
                <!-- Assign To -->
                <h6 class="ct_fs_16 ct_fw_400 mb-2">Assign To</h6>
                <!-- Search -->
                <div class="input-group position-relative">
                    <input type="text" class="form-control ct_input" placeholder="--"
                        [value]="singleRequest?.employee_name" disabled />
                </div>
                <!-- Checkbox -->
                <div class="form-check my-4">
                    <input class="form-check-input" type="checkbox" id="urgentCheck"
                        [checked]="singleRequest?.mark_as_urgent === 1" />
                    <label class="form-check-label ct_fw_500" for="urgentCheck">
                        Urgent.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay" *ngIf="loading">
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>