<div class="ct_inner_header_bg mt-4 ct_px_30">
    <div class="container-fluid">
        <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text">Change Password</h4>
    </div>
</div>
<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="mt-3 ct_border_radius_12 ct_border_clr_EAEBEF ct_py_28_px_20 bg-white">
                <form [formGroup]="form">
                    <div class=" row">
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="" class="mb-2 ct_text_clr_4B5563">Current Password</label>
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}"
                                        class="form-control ct_input ct_input_pe_40" placeholder="********"
                                        formControlName="current_password">
                                    <i class="fa-regular ct_show_eye"
                                        [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility1()"></i>
                                </div>

                                <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                                    class="err_msg">
                                    <div *ngIf="form.controls['current_password'].errors?.['required']">Current
                                        password is
                                        required.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="" class="mb-2 ct_text_clr_4B5563">New Password</label>
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                                        class="form-control ct_input ct_input_pe_40" placeholder="********"
                                        formControlName="new_password">
                                    <i class="fa-regular ct_show_eye"
                                        [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility2()"></i>
                                </div>

                                <div class="err_msg"
                                    *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">

                                    <div
                                        *ngIf="form.controls['new_password'].errors?.['required']; else checkMinLength">
                                        New password is required.
                                    </div>

                                    <ng-template #checkMinLength>
                                        <div *ngIf="form.controls['new_password'].errors?.['minlength'];">
                                            New password must be at least 8 characters long.
                                        </div>
                                    </ng-template>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="" class="mb-2 ct_text_clr_4B5563">Confirm Password</label>
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                                        class="form-control ct_input ct_input_pe_40" placeholder="********"
                                        formControlName="confirm_password">
                                    <i class="fa-regular ct_show_eye"
                                        [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility3()"></i>
                                </div>

                                <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                                    class="err_msg">
                                    <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                                        Confirm password is required.</div>
                                    <div
                                        *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                                        Passwords do not match.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mt-3 d-flex gap-3">
                        <button (click)="submitForm()" class="ct_black_btn ct_h_48">Save Changes</button>
                        <!-- <button class="ct_bule_transparent_btn px-4">
                            Cancel
                        </button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay" *ngIf="loading">
      <div class="loader">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
      </div>
</div>