<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap ct_mb_35">
            <h4 class="ct_text_black ct_fs_24 ct_fw_600 mb-0">Agreements</h4>
        </div>
        <div class="ct_wrapper_white_box">
            <div class="d-flex justify-content-between align-items-center ct_flex_col_575 gap-3">
                <!-- Search -->
                <div class="search-box w-100">
                    <div class="input-group position-relative">
                        <input type="text" class="form-control ct_input ps-5"
                            placeholder="Search by ID, Name or others..." />

                        <i class="fas fa-search ct_show_search"></i>
                    </div>
                </div>
                <!-- Filters -->
                <div class="dropdown ct_w_100_575">
                    <button class="btn filter-dropdown dropdown-toggle ct_w_100_575" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08026 12.8429H0.779541" stroke="#475569" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.89038 3.15039H16.1911" stroke="#475569" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.47629 3.09625C5.47629 1.8006 4.41813 0.75 3.11314 0.75C1.80816 0.75 0.75 1.8006 0.75 3.09625C0.75 4.39191 1.80816 5.44251 3.11314 5.44251C4.41813 5.44251 5.47629 4.39191 5.47629 3.09625Z"
                                stroke="#475569" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 12.8037C16.75 11.5081 15.6926 10.4575 14.3876 10.4575C13.0818 10.4575 12.0237 11.5081 12.0237 12.8037C12.0237 14.0994 13.0818 15.15 14.3876 15.15C15.6926 15.15 16.75 14.0994 16.75 12.8037Z"
                                stroke="#475569" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Filters
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" >Active</a>
                        </li>
                        <li>
                            <a class="dropdown-item" > Pending</a>
                        </li>
                        <li>
                            <a class="dropdown-item" > Rejected</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive mt-4 ct_custom_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Client ID</th>
                            <th>Client Name</th>
                            <th>Amount (₹)</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>#CID238976</td>
                            <td>John Doe</td>
                            <td>24,000</td>
                            <td>12 Aug 2026</td>
                            <td>12 Aug 2027</td>
                            <td class="">
                                <span class="ct_red_text">Failed</span>
                            </td>
                            <td>
                                <a routerLink="/home/agreements-details"><i class="fa-regular fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>#CID238976</td>
                            <td>John Doe</td>
                            <td>24,000</td>
                            <td>12 Aug 2026</td>
                            <td>12 Aug 2027</td>
                            <td class="">
                                <span class="ct_green_text">Paid</span>
                            </td>
                            <td>
                                <a routerLink="/home/agreements-details"><i class="fa-regular fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>#CID238976</td>
                            <td>John Doe</td>
                            <td>24,000</td>
                            <td>12 Aug 2026</td>
                            <td>12 Aug 2027</td>
                            <td class="">
                                <span class="ct_green_text">Paid</span>
                            </td>
                            <td>
                                <a routerLink="/home/agreements-details"><i class="fa-regular fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>#CID238976</td>
                            <td>John Doe</td>
                            <td>24,000</td>
                            <td>12 Aug 2026</td>
                            <td>12 Aug 2027</td>
                            <td class="">
                                <span class="ct_red_text">Failed</span>
                            </td>
                            <td>
                                <a routerLink="/home/agreements-details"><i class="fa-regular fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>#CID238976</td>
                            <td>John Doe</td>
                            <td>24,000</td>
                            <td>12 Aug 2026</td>
                            <td>12 Aug 2027</td>
                            <td class="">
                                <span class="ct_blue_text"> Renewed</span>
                            </td>
                            <td>
                                <a routerLink="/home/agreements-details"><i class="fa-regular fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>