<div class="ct_inner_header_bg mt-4 ct_px_30">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text">System Inventory</h4>
            <div>
                <a routerLink="/home/add-inventory" class="ct_black_btn d-flex align-items-center gap-2 mt-md-0 mt-3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                            stroke="white" stroke-width="1.05" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Add Inventory
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_wrapper_white_box">
                    <div class="d-flex justify-content-between align-items-center ct_flex_col_575 gap-3">
                        <!-- Search -->
                        <div class="search-box w-100">
                            <div class="input-group position-relative">
                                <input type="text" class="form-control ct_input ps-5" placeholder="Search..."
                                    [(ngModel)]="searchText" (input)="getAllTasks()" />
                                <i class="fas fa-search ct_show_search"></i>
                            </div>
                        </div>
                        <!-- Filters -->

                    </div>
                    <div class="table-responsive mt-4 ct_custom_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>System Id</th>
                                    <th>Device Type</th>
                                    <th>Mac Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of deviceList; let i = index">
                                    <td>{{ (page - 1) * limit + i + 1 }}</td>
                                    <td>{{item.system_uid}}</td>
                                    <td>{{item.device_type}}</td>
                                    <td>{{item.mac_address}}</td>
                                    <td class="">
                                        <!-- @if(item.status == 'rented'){
                                        <span class="ct_accepted_badge">In Stock</span>
                                        } -->
                                        {{ item.status | titlecase }}
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <a [routerLink]="['/home/view-inventory']"
                                                [queryParams]="{system_id: item.system_id}"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="deviceList?.length == 0" class="text-center">
                            <p class="ct_fs_15 mt-5">No category found</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3 gap-2">
                        <button class="btn btn-sm btn-secondary" [disabled]="page == 1" (click)="changePage(page - 1)">
                            Prev
                        </button>
                        {{pagination?.page}}
                        <button class="btn btn-sm btn-secondary"
                            [disabled]="page >= pagination?.total / pagination?.limit" (click)="changePage(page + 1)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade ct_addclient_modal" id="addClientModal12" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-0 border-0 pt-0">
                <h5 class="modal-title ct_fs_18 ct_fw_600">{{ isEditMode ? 'Edit Agreement' : 'Add Agreement' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0">
                <div class="mb-3">
                    <label class="mb-1">Select Client <span class="ct_required">*</span></label>
                    <select class="form-control ct_input" [(ngModel)]="form.client_id" name="client_id">
                        <option value="" disabled>Select Client</option>
                        <option *ngFor="let client of clientList" [value]="client.id">
                            {{ client.full_name }}
                        </option>
                    </select>
                    <div *ngIf="isSubmitted && isFieldInvalid('client_id')" class="err_msg">
                        Please select client.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="mb-1">Rent Amount <span class="ct_required">*</span></label>
                    <input type="number" class="form-control ct_input" placeholder="Enter rent amount"
                        [(ngModel)]="form.rent_amount" name="rent_amount" min="1" />
                    <div *ngIf="isSubmitted && isFieldInvalid('rent_amount')" class="err_msg">
                        {{ getRentAmountError() }}
                    </div>
                </div>

                <div class="mb-3">
                    <label class="mb-1">Billing Day <span class="ct_required">*</span></label>
                    <select class="form-control ct_input" [(ngModel)]="form.billing_cycle_day"
                        name="billing_cycle_day">
                        <option value="" disabled>Select Billing Day</option>
                        <option *ngFor="let day of billingDays" [value]="day">
                            {{ day }}
                        </option>
                    </select>
                    <div *ngIf="isSubmitted && isFieldInvalid('billing_cycle_day')" class="err_msg">
                        Please select billing day.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="mb-1">Start Date <span class="ct_required">*</span></label>
                    <input type="date" class="form-control ct_input" [(ngModel)]="form.start_date" name="start_date"
                        (ngModelChange)="onStartDateChange()" />
                    <div *ngIf="isSubmitted && isFieldInvalid('start_date')" class="err_msg">
                        Please select start date.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-1">End Date <span class="ct_required">*</span></label>
                    <input type="date" class="form-control ct_input" [(ngModel)]="form.end_date" name="end_date"
                        [disabled]="true" />
                    <div *ngIf="isSubmitted && isFieldInvalid('end_date')" class="err_msg">
                        End date will be auto-calculated after selecting start date.
                    </div>
                </div>

                <button type="button" class="ct_black_btn w-100" (click)="submitAgreement()"
                    [disabled]="isSubmitting">
                    {{ isEditMode ? 'Update' : 'Add' }}
                </button>
                <button type="button" hidden class="btn btn-link w-100 mt-2" data-bs-dismiss="modal"
                    #closeModalGateway>Cancel</button>
            </div>
        </div>
    </div>
</div> -->