<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap ct_mb_35">
            <h4 class="ct_text_black ct_fs_24 ct_fw_600 mb-0">
                <a href="repairing.html" class="ct_text_black">
                    <i class="fa-solid fa-arrow-left me-2"></i>
                </a>
                Repairing Details
            </h4>
            <!-- accept reject btn -->
            <div class="d-flex gap-4 flex-wrap d-none">
                <div>
                    <a  class="reject_btn"><i class="fa-solid fa-xmark me-2"></i>Reject</a>
                </div>
                <div>
                    <a  class="accept_btn"><i class="fa-solid fa-check me-2"></i>Accept</a>
                </div>
            </div>
        </div>
        <!-- Identity Verification -->
        <div class="ct-card ct_mb_35">
            <div class="d-flex justify-content-between ct_flex_col_575 gap-4">
                <div>
                    <h6 class="ct_fs_18 ct_fw_600 mb-1">Status</h6>
                </div>
                <div class="mb-3">
                    <span class="ct_custom_badge" style="color: #22c55e">Active</span>

                    <span class="ct_custom_badge ct_yellow_text d-none">Under Repair</span>
                </div>
            </div>
            <div class="d-flex justify-content-between ct_flex_col_575 gap-4">
                <div>
                    <h6 class="ct_fs_18 ct_fw_600 mb-0">Return Date</h6>
                </div>
                <div class="">
                    <p class="ct_fs_16 mb-0">12 Aug 2026</p>
                </div>
            </div>
        </div>
        <div class="ct-card ct_mb_35">
            <div class="d-flex justify-content-between flex-wrap gap-4">
                <div>
                    <h6 class="ct_fs_22 ct_fw_600 mb-2 ct_dark_grey_text">
                        Desktop PC (SN-LN-X1-9912)
                    </h6>
                    <p class="mb-0 ct_fs_14">Dell OptiPlex 7080</p>
                </div>
                <div>
                    <p class="mb-2">Date Sent</p>
                    <p class="mb-0">12 Aug 2026</p>
                </div>
            </div>
        </div>
        <div class="ct-card ct_mb_35">
            <div class="d-flex justify-content-between flex-wrap gap-4">
                <div>
                    <h6 class="ct_fs_18 ct_fw_600 mb-0 ct_dark_grey_text">
                        Vendor Name
                    </h6>
                </div>
                <div>
                    <p class="ct_fw_600 mb-0">Dell India</p>
                </div>
            </div>
        </div>
        <!-- ram & storage -->
        <h6 class="ct_fs_18 ct_fw_600 mb-3">Description</h6>
        <div class="ct-card ct_mb_35">
            <p class="ct_fs_14 mb-0">
                We currently have 3 desktops on rent. We need 1 more desktop for
                a new employee. Please share availability and monthly charges.
            </p>
        </div>
    </div>
</div>