<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap ct_mb_35">
            <h4 class="ct_text_black ct_fs_24 ct_fw_600 mb-0">
                <a routerLink="/home/assets" class="ct_text_black">
                    <i class="fa-solid fa-arrow-left me-2"></i>
                </a>
                Asset Details
            </h4>
        </div>

        <div class="ct-card ct_mb_35" *ngIf="assetData">
            <div class="d-flex justify-content-between ct_flex_col_575 gap-4">
                <div>
                    <h6 class="ct_fs_22 ct_fw_600 mb-1">
                        {{ assetData.asset_category_name || 'Asset' }}
                    </h6>
                    <p class="ct_fs_14 mb-3 ct_dark_grey_text">
                        {{ assetData.brand || '-' }} {{ assetData.model || '' }}
                    </p>
                    <div class="d-flex gap-4 flex-wrap">
                        <div>
                            <p class="mb-0 ct_fs_14 ct_dark_grey_text">Serial Number</p>
                            <p class="mb-0 ct_fw_500">{{ assetData.serial_number || '-' }}</p>
                        </div>
                        <div class="border-right"></div>
                        <div>
                            <p class="mb-0 ct_fs_14 ct_dark_grey_text">Manufacturer</p>
                            <p class="mb-0 ct_fw_500">{{ assetData.manufacturer || '-' }}</p>
                        </div>
                    </div>
                </div>
                <div class="text-sm-end">
                    <div class="mb-3">
                        <span class="ct_custom_badge" [ngStyle]="availabilityBadgeStyles">
                            {{ availabilityLabel }}
                        </span>
                    </div>
                    <p class="mb-0 ct_dark_grey_text ct_fs_14">Status</p>
                    <p class="mb-0 ct_fw_600">{{ statusLabel }}</p>
                </div>
            </div>
        </div>

        <h6 class="ct_fs_18 ct_fw_600 mb-3">Basic Information</h6>
        <div class="ct-card ct_mb_35" *ngIf="assetData">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Asset ID</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.asset_id || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Category ID</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.asset_category_id || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Category Name</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.asset_category_name || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Brand</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.brand || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Model</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.model || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Size</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.size || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Serial Number</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.serial_number || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Manufacturer</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.manufacturer || '-' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Availability</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ availabilityLabel }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Status</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ statusLabel }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Created At</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.created_at | date:'dd MMM yyyy, hh:mm a' }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">Updated At</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ assetData.updated_at | date:'dd MMM yyyy, hh:mm a' }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <h6 class="ct_fs_18 ct_fw_600 mb-3">Specifications</h6> -->
        <!-- <div class="ct-card" *ngIf="assetData">
            <div *ngIf="specEntries.length; else noSpecs" class="row gy-4">
                <div class="col-md-6" *ngFor="let spec of specEntries">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="ct_dark_grey_text mb-0">{{ formatLabel(spec.key) }}</p>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="ct_fw_600">{{ spec.value || '-' }}</h6>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #noSpecs>
                <p class="mb-0 ct_dark_grey_text">No specifications available.</p>
            </ng-template>
        </div> -->
    </div>
</div>
