<div class="ct_inner_header_bg mt-4 ct_px_30">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text">Support</h4>
        </div>
    </div>
</div>
<div class="ct_px_30 mt-4 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_wrapper_white_box">
                    <div class="d-flex justify-content-between align-items-center ct_flex_col_575 gap-3">
                        <!-- Search -->
                        <div class="search-box w-100">
                            <div class="input-group position-relative">
                                <input type="text" class="form-control ct_input ps-5"
                                    placeholder="Search..." />
                                <i class="fas fa-search ct_show_search"></i>
                            </div>
                        </div>
                        <!-- Filters -->
                        <div class="dropdown ct_w_100_575">
                            <button class="btn filter-dropdown dropdown-toggle ct_w_100_575" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <svg width="18" height="16" viewBox="0 0 18 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.08026 12.8429H0.779541" stroke="#475569" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9.89038 3.15039H16.1911" stroke="#475569" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.47629 3.09625C5.47629 1.8006 4.41813 0.75 3.11314 0.75C1.80816 0.75 0.75 1.8006 0.75 3.09625C0.75 4.39191 1.80816 5.44251 3.11314 5.44251C4.41813 5.44251 5.47629 4.39191 5.47629 3.09625Z"
                                        stroke="#475569" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.75 12.8037C16.75 11.5081 15.6926 10.4575 14.3876 10.4575C13.0818 10.4575 12.0237 11.5081 12.0237 12.8037C12.0237 14.0994 13.0818 15.15 14.3876 15.15C15.6926 15.15 16.75 14.0994 16.75 12.8037Z"
                                        stroke="#475569" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                Filters
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" >Active</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" > Pending</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" > Rejected</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive mt-4 ct_custom_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th> Name</th>
                                    <th>Type</th>
                                    <th>Email</th>
                                    <th>Description </th>
                                    <th> Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>Client</td>
                                    <td>georgelitzgmail.com</td>
                                    <td>
                                        <p class="ct_overlay_text mb-0">
                                            Hi, I’m facing an issue in keyboard chats. When I type // to tag someone,
                                            sometimes the user list doesn’t appear or the tag doesn’t get added
                                            correctly. This happens mostly in larger groups. Please check and let me
                                            know if there’s a fix.
                                        </p>
                                    </td>
                                    <td>12 Aug 2027</td>
                                    <td class="">
                                        <span class="ct_pending_badge">Pending</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <a  data-bs-target="#supportOpenModal" data-bs-toggle="modal"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>John Doe</td>
                                    <td>Employee</td>
                                    <td>georgelitzgmail.com</td>
                                    <td>
                                        <p class="ct_overlay_text mb-0">
                                            Hi, I’m facing an issue in keyboard chats. When I type // to tag someone,
                                            sometimes the user list doesn’t appear or the tag doesn’t get added
                                            correctly. This happens mostly in larger groups. Please check and let me
                                            know if there’s a fix.
                                        </p>
                                    </td>
                                    <td>12 Aug 2027</td>
                                    <td class="">
                                        <span class="ct_accepted_badge">Resolved</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <a  data-bs-target="#supportOpenModal" data-bs-toggle="modal"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>John Doe</td>
                                    <td>Employee</td>
                                    <td>georgelitzgmail.com</td>
                                    <td>
                                        <p class="ct_overlay_text mb-0">
                                            Hi, I’m facing an issue in keyboard chats. When I type // to tag someone,
                                            sometimes the user list doesn’t appear or the tag doesn’t get added
                                            correctly. This happens mostly in larger groups. Please check and let me
                                            know if there’s a fix.
                                        </p>
                                    </td>
                                    <td>12 Aug 2027</td>
                                    <td class="">
                                        <span class="ct_accepted_badge">Resolved</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <a  data-bs-target="#supportOpenModal" data-bs-toggle="modal"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Action Open Popup -->
<div class="modal fade ct-assign-modal" id="supportOpenModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 800px;">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header border-0">
                <h5 class="ct-title ct_fs_22 mb-0 ct_fw_600 ct_blue_text d-flex align-items-center gap-2">
                    Inquiry Detail
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- Info Row -->
                <div class="ct-info-box mb-4">
                    <div class="ct_grid_col_4">
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Client ID:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                #CID238976
                            </div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Client Name:</div>
                            <div class="ct-value ct_fs_14 ct_dark_grey_text">
                                John Doe
                            </div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Date</div>
                            <div class="ct-value ct_dark_grey_text">12 Aug 2037</div>
                        </div>
                        <div class="ct_info_cnt">
                            <div class="ct-label ct_fs_14 ct_fw_600">Status</div>
                            <div class="ct-value ct_fs_14 ct_green_text">
                                Resolved
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <h6 class="ct_fs_18 ct_fw_600 mb-2">Description</h6>
                <div class="ct-description mb-4 ct_fs_13">
                    Hi, I’m facing an issue in group chats. When I type // to tag
                    someone, sometimes the user list doesn’t appear or the tag
                    doesn’t get added correctly. This happens mostly in larger
                    groups. Please check and let me know if there’s a fix.
                </div>
                <!-- Description -->
                <h6 class="ct_fs_18 ct_fw_600 mb-2">Description</h6>
                <div class="ct-description mb-4 ct_fs_13">
                    Hi, I’m facing an issue in group chats. When I type // to tag
                    someone, sometimes the user list doesn’t appear or the tag
                    doesn’t get added correctly. This happens mostly in larger
                    groups. Please check and let me know if there’s a fix.
                </div>
                <!-- Buttons -->
                <div class="d-flex gap-3">
                    <button class="ct_black_btn px-4"><svg class="me-2" width="23" height="23" viewBox="0 0 23 23"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.07747 4.03815L17.2491 8.12395C20.9148 9.95683 20.9148 12.9543 17.2491 14.7872L9.07747 18.873C3.57883 21.6223 1.33546 19.3694 4.08478 13.8803L4.91531 12.2288C5.12532 11.8088 5.12532 11.1119 4.91531 10.6919L4.08478 9.03084C1.33546 3.54175 3.58838 1.28883 9.07747 4.03815Z"
                                stroke="white" stroke-width="1.26832" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M5.19336 11.4556H10.3483" stroke="white" stroke-width="1.26832"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Send Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>