<div class="auth-wrapper">
    <div class="container-fluid">
        <div class="ct_admin_logo ct-auth-logo">
            <img src="img/logo.svg" alt="" />
        </div>
        <!-- Login Section -->
        <div class="ct-login-wrapper">
            <div class="ct-login-card">
                <div class="text-center mb-4">
                    <div class="ct-title ct_fs_30 ct_fw_600 mb-2"> Reset Password</div>
                    <div class="ct-subtitle ct_dark_grey_text">
                        Enter your new password below to regain access to your account.
                    </div>
                </div>
                <form>
                    <div class="form-group mb-3">
                        <label for="" class="mb-2 ct_text_black ct_fw_400">
                            New Password</label>
                        <div class="position-relative">
                            <input type="password" placeholder="Enter new password"
                                class="form-control ct_input ct_input_pe_40" />
                            <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="mb-2 ct_text_black ct_fw_400">
                            Confirm Password</label>
                        <div class="position-relative">
                            <input type="password" placeholder="Re-Enter  password"
                                class="form-control ct_input ct_input_pe_40" />
                            <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                        </div>
                    </div>
                    <a routerLink="/" type="submit" class="ct_black_btn w-100">
                        Confirm
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>